.section {
    background-color: #f6f6f6;
    padding-bottom: 80px;
}

header {
    margin-bottom: 90px;
}

header h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}

header p {
    font-weight: 600;
    padding: 0 20%;
}

header .colored {
    color: var(--main-color);
}