<div class="section">
    <header class="text-center">
        <h2><span class="colored">our</span> team</h2>
    </header>

    <div class="container">
      <div class="row">
        <!-- item -->
        <div class="te-item col-md-4 text-center">
          <img src="assets/client1.jpg" alt="person" class="rounded-circle">
          <h3>Ahmed Mahmoud</h3>
          <p>Founder</p>
        </div>

        <!-- item -->
        <div class="te-item col-md-4 text-center">
          <img src="assets/client2.png" alt="person" class="rounded-circle">
          <h3>Ahmed Mahmoud</h3>
          <p>Founder</p>
        </div>

        <!-- item -->
        <div class="te-item col-md-4 text-center">
          <img src="assets/client3.jpg" alt="person" class="rounded-circle">
          <h3>Ahmed Mahmoud</h3>
          <p>Founder</p>
        </div>
      </div>
    </div>
</div>