<div class="section">
    <header class="text-center">
        <h2>Here are the three little things that makes us special</h2>
    </header>

    <div class="bridge">
        <hr>
        <i class="fa fa-chevron-down"></i>
    </div>

    <div class="container">
      <div class="row">
        <div class="spec-item col-md-4">
          <i class="fa fa-rocket"></i>
          <div class="spec-content">
            <h3>From Zero to One</h3>
            <p>We are moving from zero to one, not from one to hundred. That means we are focused on creating new solutions, not copying the existing ones.</p>
          </div>
        </div>
        <!-- special item -->
        <div class="spec-item col-md-4">
          <i class="fa fa-bolt"></i>
          <div class="spec-content">
            <h3>Our Level Up</h3>
            <p>Working with us you will work with professional certified designers and engineers having the vast good experience.</p>
          </div>
        </div>
        <!-- special item -->
        <div class="spec-item col-md-4">
          <i class="far fa-heart"></i>
          <div class="spec-content">
            <h3>Your Satisfaction</h3>
            <p>Creating a design it is not an end in itself, but a means. We understand the rules of the games. It’s about to make you happy.</p>
          </div>
        </div>
      </div>
    </div>

</div>