/* navbar styles */
.navbar {
    background-color: transparent;
    font-size: 1.2rem;
    z-index: 999;
    transition: all 0.2s ease-in-out;
}

.navbar.scrolled {
    background: #fff;
    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.navbar.scrolled a {
    color: #000;
}

.navbar .navbar-brand {
    font-size: 1.7rem;
}

.navbar a {
    color: #fff;
}

.navbar .navbar-nav {
    text-transform: uppercase;
}

.navbar .navbar-nav li {
    padding-right: 10px;
}

.navbar .navbar-nav a:hover {
    color: var(--main-color);
    transition: color 0.2s ease-in;
}