<div class="row text-center">
  <div class="col-sm-3 fac-item lighter">
    <p class="fac-number"> {{satisfied}} </p>
    <p>clients satisfied</p>
  </div>
  <div class="col-sm-3 fac-item">
    <p class="fac-number"> {{projects}} </p>
    <p>Projects completed</p>
  </div>
  <div class="col-sm-6 fac-tem">
    <a href="#"> <i class="fab fa-facebook"></i> </a>
    <a href="#"> <i class="fab fa-twitter"></i> </a>
    <a href="#"> <i class="fab fa-behance"></i> </a>
    <a href="#"> <i class="fab fa-dribbble"></i> </a>
  </div>
</div>