.con-info p {
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
}

.con-info p i {
    margin-right: 10px;
    font-size: 1.2rem;
    width: 20px;
    text-align: center;
    display: inline-block;
    border: 1px solid var(--main-color);
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    padding: 20px;
}
