/* You can add global styles to this file, and also import other style files */
:root {
    --main-color: rgb(249, 160, 44);
}

body {
    letter-spacing: 2px;
    overflow-x: hidden;
}

#component {
    margin-top: 800px;
}

.section {
    padding-top: 80px;
}
